<%- include ("partials/header") %>

<h1>Add a laptop here!</h1>

<form action="/update/<%= id %>" method="POST" enctype="multipart/form-data">
  <div class="form-group">
    <label>productName</label>
    <input type="text" class="form-control" value="<%=title %>" name="title" />
  </div>
  <div class="form-group">
    <label>CPU</label>
    <input type="text" class="form-control" value="<%=cpu %>" name="cpu" />
  </div>
  <div class="form-group">
    <label>RAM</label>
    <input
      type="text"
      class="form-control"
      placeholder="<%=ram %>"
      name="ram"
    />
  </div>
  <div class="form-group">
    <label>Storage</label>
    <input
      type="text"
      class="form-control"
      value="<%=storage %>"
      name="storage"
    />
  </div>
  <div class="form-group">
    <label>Screen</label>
    <input
      type="text"
      class="form-control"
      value="<%= screen %>"
      name="screen"
    />
  </div>
  <div class="form-group">
    <label>Price</label>
    <input type="text" class="form-control" value="<%=price %>" name="price" />
  </div>

  <div class="form-group">
    <label>Description</label>
    <textarea type="text" class="form-control" name="description" rows="3">
<%=description %></textarea
    >
  </div>

  <!--

  <div class="form-group">
    <label>Thumbnail File Name</label>
    <input
      type="text"
      class="form-control"
      placeholder="thumbnail.jpg"
      name="thumbnailFile"
    />
  </div>
-->
  <!--
  <h3>Upload your files</h3>

  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
    </div>
    <div class="custom-file">
      <input
        type="file"
        class="custom-file-input"
        id="imageInput"
        aria-describedby="inputGroupFileAddon01"
        name="imageFile"
      />
      <label class="custom-file-label" for="imageInput">Image file</label>
    </div>
  </div>
-->
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

<%- include ("partials/footer") %>
